<a href="https://colab.research.google.com/github/saurabh4006/NLP/blob/master/Amazon_Reviews_updated_vowel_and_consonant.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np 
import pandas as pd

In [0]:
df = pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz',lines = True)

In [5]:
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
def num_words(str):
  count = dict()
  words = str.split()
  for x in words:
    if x in count:
      count[x]+=1
    else:
      count[x]=1
  return count

In [0]:
df['reviewText_word_count'] = df['reviewText'].apply(num_words)

In [0]:
df['summary_word_count'] = df['summary'].apply(num_words)

In [10]:
df.head()

       reviewerID  ...                                 summary_word_count
0  A32T2H8150OJLU  ...  {'A': 1, 'solid': 1, 'performer,': 1, 'and': 1...
1  A3MAFS04ZABRGO  ...  {'Price': 1, 'of': 1, 'GOLD': 1, 'is': 1, 'up,...
2  A1F1A0QQP2XVH5  ...  {'Good': 1, 'functionality,': 1, 'but': 1, 'no...
3   A49R5DBXXQDE5  ...  {'One': 1, 'of': 2, 'the': 1, 'last': 1, 'an':...
4  A2XRMQA6PJ5ZJ8  ...                  {'Still': 1, 'the': 1, 'best': 1}

[5 rows x 11 columns]

In [0]:
def letters(string):
    vowels = 0
    consonants = 0
    
    for i in range(0, len(string)):  
            ch = string[i]  
            ch = ch.lower()
            if ( (ch >= 'a' and ch <= 'z') or 
             (ch >= 'A' and ch <= 'Z') ):
             if (ch == 'a' or ch == 'e' or ch == 'i' or ch == 'o' or ch == 'u'or 
                 ch == 'A' or ch == 'E' or ch == 'I' or ch == 'O' or ch == 'U'): 
                vowels += 1
             else: 
                consonants += 1
    words = string.count(' ') + 1
    count = {'vowels': vowels, 'consonants': consonants, 'words': words}
    return count

In [0]:
df["reviewText_letter_count"] = df.reviewText.apply(letters)
df["summary_letter_count"] = df.summary.apply(letters)

In [17]:
df.head()

       reviewerID  ...                           summary_letter_count
0  A32T2H8150OJLU  ...   {'vowels': 12, 'consonants': 20, 'words': 7}
1  A3MAFS04ZABRGO  ...  {'vowels': 14, 'consonants': 31, 'words': 13}
2  A1F1A0QQP2XVH5  ...   {'vowels': 15, 'consonants': 25, 'words': 8}
3   A49R5DBXXQDE5  ...   {'vowels': 14, 'consonants': 22, 'words': 9}
4  A2XRMQA6PJ5ZJ8  ...     {'vowels': 3, 'consonants': 9, 'words': 3}

[5 rows x 13 columns]

In [0]:
import re

In [0]:
for index,row in df.iterrows():
  review=row['reviewText']
  result = re.findall("^b", review)

In [0]:
def BG(string):
    string = re.sub('[^a-zA-Z]',' ', string) #removes punctuations
    list1 = re.findall("\w+[Gg]", string) #finding letters ending with g/G
    list2 = re.findall("[Bb]\w+", string) #finding letters starting with b/B
    return (list(set().union(list1, list2)))

In [0]:
df["reviewText_letter_count"] = df.reviewText.apply(BG)
df["summary_letter_count"] = df.summary.apply(BG)

In [33]:
df.head()

       reviewerID  ... summary_letter_count
0  A32T2H8150OJLU  ...               [long]
1  A3MAFS04ZABRGO  ...         [bury, flag]
2  A1F1A0QQP2XVH5  ...           [ble, but]
3   A49R5DBXXQDE5  ...                   []
4  A2XRMQA6PJ5ZJ8  ...               [best]

[5 rows x 13 columns]